.Rproj.user
.Rhistory
.RData
.Ruserdata
.Rprofile

# folders
/data
/renv
/improveaccept_results_st1_cache/
/improveaccept_results_st1_files/
/improveaccept_results_st2_cache/
/improveaccept_results_st2_files/
/improveaccept_results_st3_cache/
/improveaccept_results_st3_files/